.paginaBienvenida {
  background-color: #0e0e0e;
  color: red;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;/*se acomodan unos debajo de los otros */
  text-align: center;
}

.contenidoBienvenida {
  width: 100%;
  max-width: 500px;
}

.inputNombre {
  background-color: #1c1c1c;
  color: white;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.inputNombre::placeholder {
  color: #bbbbbb;
}
.inputNombre:focus{
  background-color: #212529; 
  color: white; 
  border-color: #dc3545; 
  box-shadow: none; 
}
.botonNetflix {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 20px;
}

.botonNetflix:hover {
  background-color: #c40000;
}

h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px black;
}
